{{ define "main" }}
  <!-- Main Content -->
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
    {{ .Content }}
  </article>

  <!-- Recent Posts Section -->
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{ range ($mainSections) }}
    {{ $section_name := . }}
    {{ $section := where $.Site.RegularPages "Section" "in" $section_name }}
    {{ $section_count := len $section }}
    {{ if ge $section_count 1 }}
    {{ end }}
  {{ end }}
{{ end }}
