<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/">IG Fahrrad</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
            </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	       <ul class="navbar-nav">
		      {{- $sec := .Page.Section -}}
		      {{- $file := .File.TranslationBaseName -}}
		      {{ range .Site.Menus.main.ByWeight }}
		      {{- $base := path.Base .URL -}}
		         <li class="nav-item">
		            <a {{ if or (eq $sec $base) (eq $file $base) (and (eq $sec "") (eq $file "index") (eq $base "/")) }} class="nav-link active" {{ else }} class="nav-link" {{ end }} href="{{ .URL }}">
		              {{ .Name }}  
			    </a>
			 </li>
		{{- end }}
	       </ul>		
	    </div>
</nav>

