{{ $bikeOnWoodURL := "./images/small/bike-on-wood-%s.webp" }}

{{ $bikeOnWoodImageUrl256 := printf $bikeOnWoodURL "256" }}
{{ $bikeOnWoodImageUrl512 := printf $bikeOnWoodURL "512" }}
{{ $bikeOnWoodImageUrl1024 := printf $bikeOnWoodURL "1024" }}

<style>
  .cover {
      background-image: url({{ $bikeOnWoodImageUrl1024 | absURL }});
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  @media (max-width: 1024px) {
      .cover {
          background-image: url({{ $bikeOnWoodImageUrl512  | absURL }});
      }
  }
  @media (max-width: 512px) {
      .cover {
          background-image: url({{ $bikeOnWoodImageUrl256  | absURL }});
      }
  }
</style>


<header class="cover bg-top">
  <div hidden>PAGEHEADER</div>
  <div class="bg-black-60">
      <div class="tc-l pv6 pv6-ns ph4 ph4-ns">
          <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title }}</div>
          {{ with .Params.description }}
          <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
          </div>
          {{ end }}
      </div>
  </div>
</header>
