{{ $imagorURL := "./images/small/bike-on-wood-%s.webp" }}
{{ $imageCrypt256 := "cfZpv-NjINd7rUQ4pnKoxSoBeEA%3D%2Ffit-in%2F256x171%2Fhttps%3A%2F%2Fimages.pexels.com%2Fphotos%2F145399%2Fpexels-photo-145399.jpeg%3Fauto%3Dcompress" }}
{{ $imageCrypt512 := "L8kfXdh2vtFMZV_A2_Wu_oTLNNE%3D%2Ffit-in%2F932x612%2Fhttps%3A%2F%2Fimages.pexels.com%2Fphotos%2F145399%2Fpexels-photo-145399.jpeg%3Fauto%3Dcompress" }}
{{ $imageCrypt1024 := "7CXwO9XQsHjOwWLN7QSZpOSpncw%3D%2Ffit-in%2F1320x880%2Fhttps%3A%2F%2Fimages.pexels.com%2Fphotos%2F145399%2Fpexels-photo-145399.jpeg%3Fauto%3Dcompress" }}


{{ $imagorImageURL256 := printf $imagorURL "256" }}
{{ $imagorImageURL512 := printf $imagorURL "512" }}
{{ $imagorImageURL1024 := printf $imagorURL "1024" }}

<style>
  .cover {
      background-image: url('{{ $imagorImageURL1024 | absURL }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  @media (max-width: 1024px) {
      .cover {
          background-image: url('{{ $imagorImageURL512  | absURL }}');
      }
  }
  @media (max-width: 512px) {
      .cover {
          background-image: url('{{ $imagorImageURL256  | absURL }}');
      }
  }
</style>


<header class="cover bg-top">
  <div hidden>PAGEHEADER</div>
  <div class="bg-black-60">
      <div class="tc-l pv6 pv6-ns ph4 ph4-ns">
          <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title }}</div>
          {{ with .Params.description }}
          <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
          </div>
          {{ end }}
      </div>
  </div>
</header>
