{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ if .IsHome }}
  <!-- Hero Section for Home Page -->
  {{ $featured_image = "./images/small/bikes_in_forest.webp" | absURL }}
  <style>
    .cover {
        background-image: url({{ "./images/small/bikes_in_forest-1024.webp" | absURL }});
    }
    @media (max-width: 1024px) {
        .cover {
            background-image: url({{ "./images/small/bikes_in_forest-512.webp" | absURL }});
        }
    }
    @media (max-width: 512px) {
        .cover {
            background-image: url({{ "./images/small/bikes_in_forest-256.webp" | absURL }});
        }
    }
  </style>  
{{ end }}

{{ if $featured_image }}
<header class="cover bg-top">
  <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
    <div class="tc-l pv4 pv6-l ph3 ph4-ns">
      {{ if .IsHome }}
        <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
          IHR FAHRRADGESCHÄFT IN WIEN
        </h1>
        <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
          Promoting cycling in the city...
        </h2>
      {{ end }}
    </div>
  </div>
</header>
{{ end }}
